<div class="container">
	<div class="col-md-4 col-xs-12">
    <div id="map">
      <img src="https://www.google.com/maps/place/Zurich/@47.3831506,8.532681,14z/data=!4m2!3m1!1s0x47900b9749bea219:0xe66e8df1e71fdc03">
    </div>
  </div>
  <div class="col-md-8 col-xs-12">
    <div class="mycontainer">
      <div class="col-md-5 col-xs-6" id="pic_sm"></div>
      <div class="col-md-7 col-xs-6" id="desc_sm">
        <h4>5 bedroom flat</h4>
      </div>
    </div>
    <div class="mycontainer">
      <div class="col-md-5 col-xs-6" id="pic_sm"></div>
      <div class="col-md-7 col-xs-6" id="desc_sm">
        <h4>5 bedroom flat</h4>
      </div>
    </div>
    <div class="mycontainer">
      <div class="col-md-5 col-xs-6" id="pic_sm"></div>
      <div class="col-md-7 col-xs-6" id="desc_sm">
        <h4>5 bedroom flat</h4>
      </div>
    </div>
    <div class="mycontainer">
      <div class="col-md-5 col-xs-6" id="pic_sm"></div>
      <div class="col-md-7 col-xs-6" id="desc_sm">
        <h4>5 bedroom flat</h4>
      </div>
    </div>
    <div class="mycontainer">
      <div class="col-md-5 col-xs-6" id="pic_sm"></div>
      <div class="col-md-7 col-xs-6" id="desc_sm">
        <h4>5 bedroom flat</h4>
      </div>
    </div>
    <div class="mycontainer">
      <div class="col-md-5 col-xs-6" id="pic_sm"></div>
      <div class="col-md-7 col-xs-6" id="desc_sm">
        <h4>5 bedroom flat</h4>
      </div>
    </div>
  </div>
</div>