<%= image_tag("landing.jpg", :id => "bg") %>
<div class="container">
	<div class="jumbotron myjumbotron">
	<h2>About</h2>
	<p>This website was created during the Startup Weekend Zurich 2014. The team Semesternest created the outlines for a new startup connecting landlords and students looking for furnished rooms or apartments.</p>
	<p>The project won the 2nd prize at Startup Weekend Zurich for "Best Prototype"</p>
	<p>This website is built by <a href="http://www.thereza.net/">Thereza</a>, 2014</p>
	</div>
</div>