<div class="background_pic">
  <div class-"container">
    <div class="row myrow" id="search_function">
      <div class="col-md-2 col-xs-1"></div>
      <div class="col-md-8 col-xs-10">
      	<h2>Find a furnished student home to rent</h2>
      	<div class="jumbotron">
      		<form class="navbar-form navbar-left" role="search">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="City or university">
              </div>
              <div class="form-group">
                <input type="text" class="form-control" id="datepicker" placeholder="Move in">
              </div>
              <div class="form-group">
                <input type="text" class="form-control" id="datepicker2" placeholder="Move out">
              </div>
              <button class="btn btn-success button"><%= link_to "Search", results_path %></button>
            </form>
      	</div>
      </div>
      <div class="col-md-3 col-xs-1"></div>
    </div>
  </div>
  <div class="row" id="blurp">
    <div class="container">
      <div class="col-md-12 col-xs-12">
      <h3>What is Semesternest?</h3>
      <p class="enlarge">
        Semesternest is a website connecting individual landlords of a furnished room or flat with students looking for furnished rooms and short term contracts.
      </p>
      <p class="enlarge">
        The relationship between landlord and student can be tough.
        Relax, we've got you covered!
      </p>
      <br>
      <br>
      </div>
    </div>
  </div>
</div>
<div class="row" id="portraits">
  <div class="container">
    <h3>Read the experiences and stories of our users:</h3>
    <div class="col-md-4 col-xs-12">
      <%= image_tag("portrait_1.png", alt: "Portrait 1", :class => "pic_md") %>
    </div>
    <div class="col-md-4 col-xs-12">
      <%= image_tag("portrait_2.png", alt: "Portrait 2", :class => "pic_md") %>
    </div>
    <div class="col-md-4 col-xs-12">
      <%= image_tag("portrait_3.png", alt: "Portrait 3", :class => "pic_md") %>
    </div>
  </div>
</div>