<%= image_tag("landing.jpg", :id => "bg") %>
<div class="container">
	<div class="col-md-1"></div>
	<div class="jumbotron myjumbotron col-md-10">
		<h2>Under Construction</h2>
		<p>This project is a prototype. Our programming bunnies are working hard to implement this feature.</p>
	</div>
</div>