<div class="container">
	<h1>Register <small><%= link_to 'go to login', signin_path %></small></h1>
	<div class="col-md-6">

		<%= render 'form' %>

		<%#= link_to 'Back', users_path %>
	</div>
</div>