// Place all the styles related to the landing_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.myrow {
	min-height: 500px;

}
#bg {
  position: fixed;
  top: 0;
  left: 0;

  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
}
/*.background_pic {
	background: url(landing.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}*/
.button a{
	color: #fff;
	&:hover {
		text-decoration: none;
		color: #fff;
	}
}
#blurp {
	position: relative;
	background-color: rgba(14,10,7,0.8);
	color: #fff;
	padding-top: 30px;
}
#search_function {
	h2 {
		text-shadow: 3px 3px 5px #52403E;
		color: #fff;
		text-align: center;
		margin: 60px 0 40px;
	}
	.jumbotron {
		padding: 50px 30px 100px;
		margin-top: 30px;
		border: 1px solid #373737;
		border-radius: 8px;
		background-color: rgba(14,10,7,0.6);
		/*box-shadow: 0 0 5px #fff;*/
	}
}
#portraits {
	position: relative;
	background-color: #E6E6E6;
	h3 {
		margin-top: 50px;
		text-align: center;
		text-shadow: 3px 3px 5px #fff;
	}
	img {
		margin: 25px auto;
	}
	.col-xs-12 {
		text-align: center;
	}
}
.enlarge {
	font-size: 18px;
}
.myjumbotron {
		position: relative;
		padding: 50px 30px 50px;
		margin-top: 60px;
		margin-bottom: 150px;
		border: 1px solid #373737;
		border-radius: 8px;
		background-color: rgba(14,10,7,0.6);
		/*box-shadow: 0 0 5px #fff;*/
		h2, p {
			color: white;
			text-align: center;
			a {
				color: white;
			}
		}
		a:hover {
			text-decoration: none;
			background-color: #6E6C6A;
			color: #373737;
		}
	}
