// Place all the styles related to the result_lists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#map {
	border: 1px solid black;
	min-height: 50px;
}
.mycontainer {
	margin: 10px 0 10px 10px;
	overflow: hidden;
	background-color: #E6E6E6;
	box-shadow: 1px 1px 7px #5C5C5C;
	border-radius: 3px;
	#pic_sm {
		/*border: 1px dotted black;*/
		min-height: 30px;
		padding: 10px;

	}
	#desc_sm {
		/*border: 1px dotted black;*/
		min-height: 30px;
		padding: 10px;
	}
}
.pic_md {
	max-width: 100%;
	min-width: 100%;
	/*margin: 5px 0 20px;*/
}
.map {
	box-shadow: 1px 1px 7px #5C5C5C;
}
#input_size {
	min-width: 320px;
}
.no_padding_right {
	padding-right: 0;
}
/*#myrow {
	margin-left: -100px;
}*/