<div class="container">
	<div class="col-md-12">
	 		<h2>3 bedroom flat in a student building</h2>
	 	</div>
	<div class="col-md-8">
	 	<div class="col-md-12">
	 		<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
			  <!-- Indicators -->
			  <ol class="carousel-indicators">
			    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
			    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
			    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
			    <li data-target="#carousel-example-generic" data-slide-to="3"></li>
			    <li data-target="#carousel-example-generic" data-slide-to="4"></li>
			  </ol>

			  <!-- Wrapper for slides -->
			  <div class="carousel-inner">
			    <div class="item active">
			      <img src="assets/flat11.png" alt="0">
			    </div>
			    <div class="item">
			      <img src="assets/flat12.png" alt="1">
			    </div>
			    <div class="item">
			      <img src="assets/flat13.png" alt="2">
			    </div>
			    <div class="item">
			      <img src="assets/flat14.png" alt="3">
			    </div>
			    <div class="item">
			      <img src="assets/flat15.png" alt="4">
			    </div>
			  </div>

			  <!-- Controls -->
			  <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
			    <span class="glyphicon glyphicon-chevron-left"></span>
			  </a>
			  <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
			    <span class="glyphicon glyphicon-chevron-right"></span>
			  </a>
			</div>
	 	</div>

	 	<div class="col-md-12">
	 		<div class="col-md-2 col-xs-2 no_padding">
	 			<img class="pic_sm" src="assets/flat11-sm.png">
	 		</div>
	 		<div class="col-md-2 col-xs-2 no_padding">
	 			<img class="pic_sm" src="assets/flat12-sm.png">
	 		</div>
	 		<div class="col-md-2 col-xs-2 no_padding">
	 			<img class="pic_sm" src="assets/flat13-sm.png">
	 		</div>
	 		<div class="col-md-2 col-xs-2 no_padding">
	 			<img class="pic_sm" src="assets/flat14-sm.png">
	 		</div>
	 		<div class="col-md-2 col-xs-2 no_padding">
	 			<img class="pic_sm" src="assets/flat15-sm.png">
	 		</div>
	 	</div>
	</div>

	<div class="col-md-4 col-xs-12">
	 	<div class="col-md-12">
	 		<h4>Price</h4>
	 		<p>From: 500 sfr.</p>
	 		<p>To: 560 sfr.</p>
	 	</div>
	 	<div class="col-md-12">
	 		<h4>Duration</h4>
	 		<form class="navbar-form navbar-left" role="search">
	              <div class="form-group">
	                <input type="text" class="form-control" id="datepicker" placeholder="05/07/2014">
	              </div>
	              <div class="form-group">
	                <input type="text" class="form-control" id="datepicker2" placeholder="05/31/2014">
	              </div>
	              <div class="btn btn-success button"><%= link_to "book", results_path %></div>

	        </form>
	 	</div>
	 	<div class="col-md-12">
	 		<h4>Rooms</h4>
	 		<p>3 Rooms</p>
	 		<div class="radio">
			  <label>
			    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
			    Single bedroom (room 1)
			  </label>
			</div>
			<div class="radio">
			  <label>
			    <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
			    Single bedroom (room 2)
			  </label>
			</div>
			<div class="radio">
			  <label>
			    <input type="radio" name="optionsRadios" id="optionsRadios2" value="option3">
			    Double bedroom (room 3)
			  </label>
			</div>
	 	</div>
	</div>

	<div class="col-md-8">
	 	<div class="col-md-12">
	 		<h4>Overview</h4>
	 		<p><strong>Description</strong></p>
	 		<p>Big residence in the 4th floor with 7 rooms, 3 bathrooms, equipped kitchen, and a living room. It is near to the city center, 5 minutes walking from a supermarket and metro stations. <br>
	 		The apartment has been recently refurbished in a modern style, so it is ready to move-in. The kitchen has a cooker, oven, microwaves, fridge and cooking utensils, plates, cutlery and glasses. All rooms have access to Wi-Fi.
	 		</p>

			<p><strong>Bedrooms:</strong></p>
			<p>There are 1 double and 7 single rooms (but some singles might be rented as doubles). Each bedroom has a bed, a desk, a chair, a heater, bed linen (sheets, duvet and pillow) and a window.
			</p>

			<p><strong>Neighbourhood:</strong></p>
			<p>At the top of one of Lisbon’s hills, Pena is a part of the historical quarter. It was here that Amália Rodrigues, the Fado superstar, was born. At the centre of the parish, not even a minute away from the apartment, is a garden dedicated to the patriot, Braamcamp Freire. Less than 2km away from IST, 3 from Católica (UCP) and 4 from the Universidade de Lisboa’s main campus. It is within walking distance of the city centre, the castle and Bairro Alto, where crowds gather to party on the streets on most nights.
			</p>

			<p><strong>Transportation:</strong></p>
			<p>The nearest metro stations are Marquês de Pombal (Yellow and Blue line), and Avenida (Blue line).Several bus routes (723, 727, 712, 730, 702) stop nearby.
			</p>

			<p><strong>Students:</strong></p>
			<p>From the apartment you can easily reach, via public transportation system, some of the most popular universities, such as Universidade Nova de Lisboa, Universidade de Lisboa, Universidade Técnica de Lisboa, Instituto Superior Técnico, Escola Superior de Comunicação Social, IADE and Escola Superior de Sáude de Lisboa. <br>
			Lisbon4u wants each apartment to be as international as possible and they go out of their way to make sure there are students from several nationalities occupying the different rooms. This greatly improves the experience of each student and the atmosphere of the apartment.
			</p>

			<p><strong>Bills:</strong></p>
			<p>Bills include water, electricity, gas, cleaning of common areas, use of the utility room, Satellite TV, Wi-fi internet, insurance, technical assistance for equipments.
			</p>

			<p><strong>Check-in and House Rules:</strong></p>
			<p>There is a Late Check-In Fee of 30 euros when the check in is scheduled between 9pm and 9am. When the check in is scheduled for Saturdays or Sundays a fee of €10 will be charged.It is allowed to receive visits inclusive to stay overnight.
			</p>
	 	</div>
	 	<div class="col-md-12">
	 		<h4>Reviews</h4>
	 	</div>
	 	<div class="col-md-12">
	 		<h4>Recommendations</h4>
	 	</div>
	</div>
</div>
