<footer>
	<div class="container">
		<div class="col-md-12 col-xs-12">
			<a href="">Made with love by the flat jump team, 2014</a>
		</div>
		<hr>
		<div class="col-md-3 col-xs-12">
			<a href="../home">Home</a><br>
			<a href="../underconstruction">Landlords</a><br>
			<a href="../underconstruction">Student Accomodation</a><br>
		</div>
		<div class="col-md-3 col-xs-12">
			<a href="../underconstruction">For Partnerships</a><br>
			<a href="../about">About Semesternest</a><br>
			<a href="../underconstruction">News and Media</a><br>
		</div>
		<div class="col-md-3 col-xs-12">
			<a href="../underconstruction">Term and Policies</a><br>
			<a href="../underconstruction">Safety</a><br>
		</div>
		<div class="col-md-3 col-xs-12">
			<a href="../underconstruction">Contact Semesternest</a><br>
			<a href="../underconstruction">Facebook</a><br>
			<a href="../underconstruction">Twitter</a><br>
		</div>
	</div>
</footer>