<footer>
	<div class="container">
		<div class="col-md-12 col-xs-12">
			<a href="">Made with love by the flat jump team, 2014</a>
		</div>
		<hr>
		<div class="col-md-3 col-xs-12">
			<a href="">Home</a><br>
			<a href="">Landlords</a><br>
			<a href="">Student Accomodation</a><br>
		</div>
		<div class="col-md-3 col-xs-12">
			<a href="">For Partnerships</a><br>
			<a href="">About Semesternest</a><br>
			<a href="">News and Media</a><br>
		</div>
		<div class="col-md-3 col-xs-12">
			<a href="">Term and Policies</a><br>
			<a href="">Safety</a><br>
		</div>
		<div class="col-md-3 col-xs-12">
			<a href="">Contact Semesternest</a><br>
			<a href="">Facebook</a><br>
			<a href="">Twitter</a><br>
		</div>
	</div>
</footer>