<footer>
	<div class="container">
		<div class="col-md-4 col-xs-6">
			<a href="">Home</a><br>
			<a href="">Landlords</a><br>
			<a href="">Student Accomodation</a><br>
			<a href="">For Partnerships</a><br>
		</div>
		<div class="col-md-4 col-xs-6">
			<a href="">About Semesternest</a><br>
			<a href="">News and Media</a><br>
			<a href="">Term and Policies</a><br>
			<a href="">Safety</a><br>
		</div>
		<div class="col-md-4 col-xs-6">
			<a href="">Contact Uniplaces</a><br>
			<a href="">Facebook</a><br>
			<a href="">Twitter</a><br>
		</div>
	</div>
</footer>